@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html, body
{
	margin: 0px auto;
	padding: 0px;
}

body
{
	background-color: #333333;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	text-align: center;
	color: #333;
	line-height: 18px; /* We use a 9px baseline grid; all line heights should be multiples of 9 */
}

div#banner {
  height:240px;
}

div#banner a:link, div#banner a:active, div#banner a:visited, div#banner a:hover {
  font-family: 'Crimson Text', serif;
  color: white !important;
  text-decoration: none;
}

div#banner span {
  display: block;
}

span.banner1 {
  margin-top: 18px;
  font-size: 3em;
  line-height: 54px;
}
span.banner2 {
  font-size: 2em;
  line-height: 36px;
}

div.left
{
	float:left;
}
div.right
{
	float:right;
	margin: 0 0 0 10px;
}
div.clear
{
	clear:both;
}
img
{
	border: none;
}
div#content
{
	text-align:left;
	margin: 0px auto;
	background-color: #fff;
	width: 1000px;
}
div#top
{
  background-image: url(../images/header-background-dim.jpg);
  background-repeat: no-repeat;
	height: 273px; 
	padding-left:25px;
	padding-right: 25px;
	padding-top: 25px;
	background-color: #000;
}
div#menu {
    height: 26px;
    font-weight: bold;
    padding-top: 7px;
    color: #aa4400;
    margin-left: -25px;
    margin-right: -25px;
    background: #ffffff99;
    padding-left: 26px;
    padding-right: 26px;
    clear: both;
}

div#menu a, div#menu a:visited, div#menu a:link, div#menu a:active, div#menu a:hover
{
	display: block;
	float:left;
	margin-right: 25px;
	color:#aa4400;
	text-decoration: none;
}
div#menu a:hover
{
	color:#ffb380;
}
div#main
{
	padding: 25px;
  clear: both;
}

div#sponsor-logos {
  height: 106px;
  vertical-align: middle;
}
div#sponsor-logos:before{
  content: "Supported by:";
  display: block;
}
a.logo:hover, a.logo:visited, a.lgo:active, a.logo:link{
  text-decoration: none;
}
a.logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 18px;
  height: 100%;
}
a.logo:before,
a.logo_before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;  
}

div#sponsor-logos a img {
  display: inline-block;
  vertical-align: middle;
}

div#footer
{
	padding: 36px;
	border-top: solid 1px #2A465E;
	color: #333;
	font-size: 0.8em;
}
div#footer a, div#footer a:visited, div#footer a:link, div#footer a:active, div#footer a:hover
{
	color:#333;
	text-decoration: none;
}
div#footer a:hover
{
	color:#aa4400;
	text-decoration: underline;
}
div#sponsors
{
  text-align: center;
	width: 950px;
	padding: 25px;
	border-top: solid 1px #2A465E;
	color: #333;
	font-size: 0.8em;
}
div.sponsor
{
	float:right;
	margin: 10px 0 0 15px;
}

h1, h2, h3
{
	margin: 27px 0 9px;
	padding: 0px;
	color:#aa4400;
	font-size: 1.2em;
	font-weight: bold;
}
h2
{
	font-size: 1em;
}
h3
{
  font-size: 0.9em;
}
p
{
	margin: 0px auto;
	padding: 0px;	
	margin-top: 0.75em;
}
a, a:visited, a:link, a:active, a:hover
{
	color: #3F4C6B;
	text-decoration: underline;
}
a:hover
{
	color: #aa4400;
}
li
{
	margin-bottom: 9px;
}
img
{
    border: 0px;
}
table#timetable {
  text-align: center;
  border-spacing: 2px;
}

tr {
  height: 16px;  
}
tr.double {
  height: 34px;
}
tr.triple {
  height: 52px; /* 3 * 18 - 2 */
}
tr.bigrow {
  height: 106px; /* 6 * 18 - 2 */
}

td.lunch, td.break, td.reception, td.reg
{
  background-color:#EBEBE0;
}
td.reg
{
  font-weight: bold;
  text-align: center;
}

td.geo
{
  background-color:#FFE6E6;
}
td.env
{
  background-color:#FFFFB2;
}
td.hydro
{
  background-color:#EBFFE0;
}
td.seds
{
  background-color:#EBCCF5;
}
td.vgp
{
  background-color:#CCE0EB;
}
td.dinner
{
  background-color:#aaaaaa;
}
td.intro,
td.sources,
td.eruptions,
td.RIP,
td.award, 
td.advances, td.society, td.magma,
td.closing
{
  background-color:#FFB403;
}
td.vtop
{
  vertical-align:top;
}
