@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html, body
{
	margin: 0px auto;
	padding: 0px;
}

body
{
	background-color: #333333;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	text-align: center;
	color: #333;
	line-height: 18px; /* We use a 9px baseline grid; all line heights should be multiples of 9 */
}

div.left
{
	float:left;
}
div.right
{
	float:right;
	margin: 0 0 0 10px;
}
div.clear
{
	clear:both;
}
img
{
	border: none;
}
div#content
{
	text-align:left;
	margin: 0px auto;
	background-color: #fff;
	max-width: 1000px;
}
div#top
{
  background-image: url(../images/header-background.jpg);
  background-repeat: no-repeat;
	height: 279px; 
	padding-left: 18px;
	padding-right: 18px;
  padding-top: 18px;
	background-color: #000;
  position: relative;
}

a#banner-text:link, a#banner-text:active, a#banner-text:visited, a#banner-text:hover {
  font-family: 'Crimson Text', serif;
  color: white !important;
  text-decoration: none;
  display: block;
  margin-top: 18px;
}

a#banner-text span {
  display: block;
  padding-left: 9px;
}

span.banner1, span.banner1::after  {
  font-size: 36px;
  line-height: 54px;
}
span.banner1::after {
  content: "Department of Earth Sciences Conference"
}
span.banner2, span.banner2::before {
  line-height: 54px;
  font-size: 27px;
}
span.banner2::before {
  font-size: 27px;
  content: "11th June 2019, Durham University"
}

a#du-logo{
  background-image: url(../images/DurhamUniversityLogo_WHITE.png);
  background-repeat: no-repeat;
  background-size: auto 54px;
  position: absolute;
  width: 129px;
  top: 18px;
  right: 18px;
  height: 54px;
}

a#ahgs-logo {
  background-image: url(../images/ahgs-logo.png);
  background-repeat: no-repeat;
  background-size: auto 45px;
  position: absolute;
  height: 54px;
  width: 91.5px;
  top: 81px;
  right: 18px;
}

div#menu {
  position: absolute;
  bottom: 0;
  right:0;
  left: 0;
  line-height: 36px;
  font-weight: bold;
  color: #aa4400;
  background: rgba(255, 255, 255, 0.6);
  padding-left: 27px;
  padding-right: 27px;
  clear: both;
}

div#menu a, div#menu a:visited, div#menu a:link, div#menu a:active, div#menu a:hover
{
	display: block;
	float:left;
	margin-right: 27px;
	color:#aa4400;
	text-decoration: none;
}
div#menu a:hover
{
	color:#ffb380;
}

div#main
{
	padding: 0px 27px 27px;
  clear: both;
}

div#sponsor-logos {
  min-height: 106px;
  vertical-align: middle;
}
div#sponsor-logos:before{
  content: "Supported by:";
  display: block;
}
a.logo:hover, a.logo:visited, a.lgo:active, a.logo:link{
  text-decoration: none;
}
a.logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 18px;
  height: 100%;
}
a.logo:before,
a.logo_before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;  
}

div#sponsor-logos a img {
  display: inline-block;
  vertical-align: middle;
}

div#footer
{
  background: url(../images/footer-background.jpg);
  background-repeat: no-repeat;
  background-size: 1000px auto;
	border-top: solid 1px #2A465E;
	color: #333;
  height: 300px;
	font-size: 0.8em;
  position: relative;
}
div#footer a, div#footer a:visited, div#footer a:link, div#footer a:active, div#footer a:hover
{
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
	margin: 36px;
  color: white;
	text-decoration: none;
  text-shadow: 0 0 4px black;
}
div#footer a:hover
{
	color:#aa4400;
	text-decoration: underline;
}
div#sponsors
{
  text-align: center;
	max-width: 950px;
	padding: 27px;
	border-top: solid 1px #2A465E;
	color: #333;
	font-size: 0.8em;
}
div.sponsor
{
	float:right;
	margin: 10px 0 0 15px;
}

h1, h2, h3
{
	margin: 27px 0 9px;
	padding: 0px;
	color: #aa4400;
	font-size: 1.2em;
	font-weight: bold;
}

h1 {
  background: #aa4400;
  margin-left: -27px;
  margin-right: -27px;
  padding: 9px 27px;
  color: white;
}
h2
{
	font-size: 1em;
}
h3
{
  font-size: 0.9em;
}
p
{
	margin: 0px auto;
	padding: 0px;	
	margin-top: 0.75em;
}
a, a:visited, a:link, a:active, a:hover
{
	color: #3F4C6B;
	text-decoration: underline;
}
a:hover
{
	color: #aa4400;
}
li
{
	margin-bottom: 9px;
}
img
{
    border: 0px;
}
table#timetable {
  text-align: center;
  border-spacing: 2px;
}

tr {
  height: 16px;  
}
tr.double {
  height: 34px;
}
tr.triple {
  height: 52px; /* 3 * 18 - 2 */
}
tr.bigrow {
  height: 106px; /* 6 * 18 - 2 */
}

td.lunch, td.break, td.reception, td.reg
{
  background-color:#EBEBE0;
}
td.reg
{
  font-weight: bold;
  text-align: center;
}

div#poster-key {
  margin-right: -9px;
}

div.keybox {
  line-height: 27px;
  margin: 9px;
  padding-left: 9px;
  border-left: solid 45px;
  float: left;
}

div.intro, div.closing {
  border-color:#FFB403;
}

td.intro, td.closing {
  background-color:#FFB403;
}

td.sess1, td.sess2, td.sess3, td.sess4 {
  border-left: 18px solid;
  padding-right: 18px;
}

div.lunch, div.break, div.reception, div.reg
{
  border-color:#EBEBE0;
}
div.sess1, td.sess1 {
  border-color:#ffb30f;
}
div.sess2, td.sess2 {
  border-color: #56b4e9;
}
div.sess3, td.sess3 {
  border-color: #009e73;
}
div.sess4, td.sess4 {
  border-color: #f0e442;
}

@media print {
  div#menu, div#menu *, a#ahgs-logo, a#du-logo {
    display: none !important;
  }
  
  div#top, div#footer {
    height: inherit;
    background: transparent !important;
  }
  
  div #footer a {
    text-shadow: none !important;
    position: relative !important;
  }
}
